<div class="w-full max-w-3xl">
    <form [formGroup]="accountForm">
        <div class="text-xl w-full">Shaxsiy ma'lumotlar</div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-4">
            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Ism</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:user'"
                            matPrefix></mat-icon>
                    <input
                            [formControlName]="'name'"
                            matInput>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Telefon raqam</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:phone'"
                            matPrefix></mat-icon>
                    <input
                            id="phone"
                            matInput
                            [formControlName]="'phone'"
                            [prefix]="'+998 '"
                            mask="00-000-00-00"
                    >
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Elektron pochta</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                            matPrefix></mat-icon>
                    <input
                            id="email"
                            matInput
                            [formControlName]="'email'"
                            readonly
                    >
                </mat-form-field>
            </div>
        </div>

        <div class="flex items-center justify-end pt-6">
            <button
                    class="ml-4"
                    mat-flat-button
                    type="button"
                    [color]="'primary'">Tahrirlash
            </button>
        </div>
    </form>

    <div class="mt-11 mb-10 border-t"></div>

    <div class="text-xl w-full">Parolni o'zgartirish</div>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-4">
        <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Eski parol</mat-label>
                <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:lock-closed'"
                        matPrefix></mat-icon>
                <input
                        matInput
                        #oldPasswordField
                >
                <button
                        mat-icon-button
                        type="button"
                        (click)="oldPasswordField.type === 'password' ? oldPasswordField.type = 'text' : oldPasswordField.type = 'password'"
                        matSuffix>
                    <mat-icon
                            class="icon-size-5"
                            *ngIf="oldPasswordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon
                            class="icon-size-5"
                            *ngIf="oldPasswordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="sm:col-span-2">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Yangi parol</mat-label>
                <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:lock-closed'"
                        matPrefix></mat-icon>
                <input
                        matInput
                        #newPasswordField
                >
                <button
                        mat-icon-button
                        type="button"
                        (click)="newPasswordField.type === 'password' ? newPasswordField.type = 'text' : newPasswordField.type = 'password'"
                        matSuffix>
                    <mat-icon
                            class="icon-size-5"
                            *ngIf="newPasswordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon
                            class="icon-size-5"
                            *ngIf="newPasswordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="flex items-center justify-end pt-6">
        <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'">O'zgartirish
        </button>
    </div>
</div>
