.lesson-modal {
    width: 1200px;
}

@media only screen and (max-width: 960px) {
    .lesson-modal {
        max-width: 100% !important;
        width: 100% !important;
        align-self: stretch;
    }

    .lesson-modal .mat-dialog-container {
        border-radius: 0 !important;
        padding: 0;
        margin: 0;
    }

    .lesson-modal .mat-dialog-content {
        padding: 0;
        margin: 0;
        max-height: none;
    }
}
