<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="relative hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-r">
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice"
             xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- Dots -->
        <svg class="absolute -top-16 -right-16 text-gray-700"
             viewBox="0 0 220 192" width="220" height="192" fill="none">
            <defs>
                <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20"
                         patternUnits="userSpaceOnUse">
                    <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="220" height="192" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
        </svg>
        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-7xl font-bold leading-none text-gray-100">
                <div>GMAT O'zbekiston</div>
                <div>platformasi</div>
            </div>
            <div class="mt-6 text-lg tracking-tight leading-6 text-gray-400">
                Biz bilan GMAT imtihoniga onlayn va qulay tayyorgarlik ko'ring. Imtihonda yuqori ball olib, oylikni 50%
                ga oshiring
            </div>
            <div class="flex items-center mt-8">
                <div class="flex flex-0 items-center -space-x-1.5">
                    <img
                            class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                            src="assets/images/avatars/female-18.jpg">
                    <img
                            class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                            src="assets/images/avatars/female-11.jpg">
                    <img
                            class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                            src="assets/images/avatars/male-09.jpg">
                    <img
                            class="flex-0 w-10 h-10 rounded-full ring-4 ring-offset-1 ring-gray-800 ring-offset-gray-800 object-cover"
                            src="assets/images/avatars/male-16.jpg">
                </div>
                <div class="ml-4 font-medium tracking-tight text-gray-400">100 dan ortiq o'qituvchilar biz bilan GMAT
                    imtihonidan yuqori ball bilan o'tishdi
                </div>
            </div>
        </div>
    </div>
    <div class="md:flex md:items-center md:justify-start w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Ro'yxatdan o'tish</div>
            <div class="flex items-baseline mt-0.5 font-medium">
                <div>Oldin ro'yxatdan o'tganmisiz?</div>
                <a class="ml-1 text-primary-500 hover:underline"
                   [routerLink]="['/sign-in']">Kirish
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                    class="mt-8 -mb-4"
                    *ngIf="showAlert"
                    [appearance]="'outline'"
                    [showIcon]="false"
                    [type]="alert.type"
                    [@shake]="alert.type === 'error'">
                {{ alert.message }}
            </fuse-alert>

            <form class="mt-8" [formGroup]="signUpForm">
                <mat-form-field class="w-full">
                    <mat-label>Ism</mat-label>
                    <input
                            id="name"
                            matInput
                            [formControlName]="'name'"
                            (input)="onNameEnter($event)"
                    >
                    <mat-error *ngIf="signUpForm.get('name').hasError('required')">
                        Ismingizni kiriting
                    </mat-error>
                    <mat-error
                            *ngIf="!signUpForm.get('name').hasError('required') && signUpForm.get('name').hasError('minlength')">
                        Ism uzunligi eng kamida 3 ta bo'lishi kerak
                    </mat-error>
                    <mat-error
                            *ngIf="!signUpForm.get('name').hasError('required') && signUpForm.get('name').hasError('maxlength')">
                        Ism uzunligi 32 tadan ko'p bo'lmasligi kerak
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label>Telefon raqam</mat-label>
                    <input
                            id="phone"
                            matInput
                            [formControlName]="'phone'"
                            [prefix]="'+998 '"
                            mask="00-000-00-00"
                    >
                    <mat-error *ngIf="signUpForm.get('phone').hasError('required')">
                        Telefon raqamingizni kiriting
                    </mat-error>
                    <mat-error
                            *ngIf="!signUpForm.get('phone').hasError('required') && signUpForm.get('phone').hasError('mask')">
                        Telefon raqam formati noto'g'ri
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Parol</mat-label>
                    <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField>
                    <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="signUpForm.get('password').hasError('required')">
                        Parolni kiriting
                    </mat-error>
                    <mat-error
                            *ngIf="!signUpForm.get('password').hasError('required') && signUpForm.get('password').hasError('minlength')">
                        Parol uzunligi eng kamida 6 ta bo'lishi kerak
                    </mat-error>
                </mat-form-field>

                <!-- Submit button -->
                <button
                        class="fuse-mat-button-large w-full mt-6"
                        mat-flat-button
                        [color]="'primary'"
                        [disabled]="signUpForm.disabled"
                        (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        Ro'yxatdan o'tish
                    </span>
                    <mat-progress-spinner
                            *ngIf="signUpForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-4 text-secondary">yoki</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div>

                <div class="relative cursor-pointer" title="Google orqali ro'yxatdan o'tish">
                    <button
                            mat-stroked-button
                            class="w-full mt-8 text-secondary"
                            type="button"
                    >
                        <mat-icon
                                class="icon-size-5 mr-2"
                                [svgIcon]="'heroicons_solid:google'"></mat-icon>
                        <span>Google</span>
                    </button>

                    <div class="flex absolute bottom-0 left-0 z-10 opacity-0">
                        <asl-google-signin-button
                                *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8]"
                                [text]="'signin_with'"
                                [size]="'large'"
                                #googleAuthButton>

                        </asl-google-signin-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
