<div class="w-full max-w-3xl">

    <div class="w-full">
        <div class="text-xl mb-3">Kursga to'lov qilish</div>
        <div class="text-secondary mb-3">Ixtiyoriy to'lov tizimlari (Uzum, Payme, Click va hokazo) orqali
            quyida rasmi keltirilgan kartaga 400 000 so'm miqdordagi o'tkazmani amalga oshirasiz.
        </div>
    </div>

    <div class="max-w-96 h-56 m-auto mb-5 bg-red-100 rounded-xl relative text-white">
        <img class="relative object-cover w-full h-full rounded-xl" src="https://i.imgur.com/kGkSg1v.png">
        <div class="w-full px-4 md:px-8 absolute top-4 md:top-8">
            <div class="flex justify-between">
                <div class="">
                    <p class="font-light uppercase text-[10px]">
                        Karta egasi
                    </p>
                    <p class="font-medium tracking-widest uppercase text-[16px]">
                        Xodiyev Lutfulloxon
                    </p>
                </div>
            </div>
            <div class="pt-3">
                <p class="font-light uppercase text-[10px]">
                    Karta raqami
                </p>
                <p class="font-medium tracking-more-wider text-[18px]">
                    8600 0210 4233 3040
                </p>
            </div>

            <div class="flex justify-end">
                <img class="w-auto h-18" src="assets/logos/uzcard.png"
                     alt="">
            </div>
        </div>
    </div>

    <div class="text-secondary mb-10">
        Kartaga o'tkazma amalga oshirilganidan keyin, to'lov haqidagi kvitansiyani skrinshot qilasiz va
        quyidagi jo'natish tugmasi orqali
        rasmni jo'natasiz. Tizim admini to'lov haqidagi rasmni ko'rib, to'lovni tasdiqlasa sizga saytdan to'liq
        foydalanish uchun huquq beradi.
    </div>

    <label
            *ngIf="loaded && !screenshots?.length"
            class="flex items-center justify-center w-full py-3 mb-5 rounded-full bg-white cursor-pointer"
            matRipple
    >
        <mat-icon svgIcon="heroicons_outline:upload-img"></mat-icon>
        <span class="ml-2">To'lov haqidagi skrinshotni jo'natish</span>
        <input
                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                type="file"
                [multiple]="false"
                [accept]="'image/jpeg, image/png, image/jpg'"
                (change)="uploadScreenshot(screenshotUploadInput.files)"
                #screenshotUploadInput>
    </label>


    <ng-container *ngIf="loaded && screenshots?.length">
        <div class="text-xl mb-3">Yuklagan skrinshotlar</div>

        <div class="grid grid-cols-3 mb-5">
            <div class="relative rounded overflow-hidden" *ngFor="let s of screenshots">
                <img class="w-full" [src]="environment.host + s.paymentScreenshot" alt="">

                <div
                        class="absolute inset-0 grid place-items-center bg-black bg-opacity-25 opacity-0 hover:opacity-100 cursor-pointer"
                        (click)="deleteScreenshot(s?.id)"
                        matRipple
                        matTooltip="Skrinshotni o'chirish"
                >
                    <mat-icon class="icon-size-7 text-white" svgIcon="heroicons_solid:trash"></mat-icon>
                </div>
            </div>
        </div>
    </ng-container>


    <!--    <div class="flex flex-col w-40 h-40 p-4 shadow rounded-2xl cursor-pointer bg-card">-->
    <!--        <div class="aspect-[9/6]">-->
    <!--            <div class="flex items-center justify-center h-full">-->
    <!--                <div class="relative">-->
    <!--                    <mat-icon class="notranslate icon-size-14 text-hint opacity-50 mat-icon-no-color" svgIcon="heroicons_solid:document"></mat-icon>-->
    <!--                    <div class="absolute left-0 bottom-0 px-1.5 rounded text-sm font-semibold leading-5 text-white bg-amber-600">-->
    <!--                        JPG-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="flex flex-col flex-auto justify-center text-center text-sm font-medium">-->
    <!--            <div class="mat-mdc-tooltip-trigger truncate">-->
    <!--                Scanned image 20201012-1-->
    <!--            </div></div>-->
    <!--    </div>-->
</div>
