<div
        class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
        cdkScrollable>

    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center">
            <h2 class="text-xl font-semibold">GMAT O'ZBEKISTON</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                Biz bilan xotirjam bo'ling
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                Video darslarni ko'rib o'rganib, GMAT sertifikatni olib 50% ustamani qo'lga kiriting
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">

        <div class="flex flex-col flex-auto w-full max-w-xs sm:max-w-5xl mx-auto">
            <div class="grid grid-cols-3 gap-4 mb-10" *ngIf="user?.role === 'admin'">
                <mat-form-field class="fuse-mat-no-subscript">
                    <mat-label>Dars mavzusi</mat-label>
                    <input type="text" matInput [(ngModel)]="title">
                </mat-form-field>

                <mat-form-field class="fuse-mat-no-subscript">
                    <mat-label>Dars davomiyligi</mat-label>
                    <input type="text" matInput [(ngModel)]="duration">
                </mat-form-field>

                <mat-form-field class="fuse-mat-no-subscript">
                    <mat-label>Bo'lim</mat-label>
                    <mat-select [(ngModel)]="unit">
                        <mat-option [value]="'numbers'">Raqamlar</mat-option>
                        <mat-option [value]="'algorithms'">Algoritmlar</mat-option>
                        <mat-option [value]="'combinatorics'">Kombinatorika</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="fuse-mat-no-subscript">
                    <mat-label>Video ID</mat-label>
                    <input type="text" matInput [(ngModel)]="videoId">
                </mat-form-field>

                <mat-form-field class="col-span-2 fuse-mat-no-subscript">
                    <mat-label>Darsga qisqacha tarif</mat-label>
                    <input type="text" matInput [(ngModel)]="description">
                </mat-form-field>

                <ng-container *ngIf="files?.length">
                    <div
                            *ngFor="let file of files; let i = index"
                            class="flex items-center p-2.5 shadow rounded bg-card mt-2">
                        <div class="flex items-center justify-center w-10 h-10 rounded-md overflow-hidden bg-primary-100">
                            <div class="flex items-center justify-center text-sm font-semibold text-primary-500-800">PDF
                            </div>
                        </div>
                        <div class="ml-3 max-w-2/3">
                            <div class="text-md font-medium truncate" [title]="file?.name">{{ file?.name }}</div>
                            <div class="text-sm font-medium truncate text-secondary">{{ (file?.size / 1024).toFixed(2) }}
                                KB
                            </div>
                        </div>

                        <button class="self-start ml-auto" mat-icon-button (click)="removeFile(i)">
                            <mat-icon class="icon-size-5 text-gray-500" svgIcon="heroicons_outline:trash"></mat-icon>
                        </button>
                    </div>
                </ng-container>

                <div class="col-span-3 flex justify-end gap-4 pt-4">
                    <label class="flex items-center justify-center px-5 gap-2 h-10 rounded-full hover:bg-hover cursor-pointer text-gray-600 font-medium"
                           matRipple>
                        <mat-icon svgIcon="heroicons_outline:paper-clip"></mat-icon>
                        <span>Uyga vazifa fayllarini yuklash</span>
                        <input
                                class="hidden"
                                type="file"
                                accept="application/pdf"
                                multiple
                                #fileInput
                                (change)="onPdfFilesSelected(fileInput.files)"
                        >
                    </label>

                    <button mat-flat-button color="primary" (click)="createOrUpdate()">
                        {{ editableLessonId ? 'Darsni tahrirlash' : 'Yangi dars yaratish' }}
                    </button>
                </div>
            </div>

            <!-- Filters -->
            <div class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                <mat-form-field class="fuse-mat-no-subscript w-full sm:w-36">
                    <mat-select [(ngModel)]="searchParams.unit" (selectionChange)="getLessons()">
                        <mat-option [value]="'all'">Hammasi</mat-option>
                        <mat-option [value]="'numbers'">Raqamlar</mat-option>
                        <mat-option [value]="'algorithms'">Algoritmlar</mat-option>
                        <mat-option [value]="'combinatorics'">Kombinatorika</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field
                        class="fuse-mat-no-subscript w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                        [floatLabel]="'always'">
                    <mat-icon
                            matPrefix
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input
                            placeholder="Dars nomi bo'yicha qidirish"
                            matInput
                            [(ngModel)]="searchParams.title"
                            (keydown.enter)="getLessons()"
                    >
                </mat-form-field>
            </div>


            <div *ngIf="lessons.length"
                 class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-8 sm:mt-10">
                <div *ngFor="let lesson of lessons"
                     class="flex flex-col h-96 shadow rounded-2xl overflow-hidden bg-card">
                    <div class="flex flex-col p-6">
                        <div class="flex items-center justify-between">
                            <!-- Course category -->
                            <!--                                    <ng-container-->
                            <!--                                            *ngIf="(course.category | fuseFindByKey:'slug':categories) as category">-->
                            <!--                                        <div-->
                            <!--                                                class="py-0.5 px-3 rounded-full text-sm font-semibold"-->
                            <!--                                                [ngClass]="{'text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500': category.slug === 'web',-->
                            <!--                                                        'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': category.slug === 'android',-->
                            <!--                                                        'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': category.slug === 'cloud',-->
                            <!--                                                        'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': category.slug === 'firebase'}">-->
                            <!--                                            {{category.title}}-->
                            <!--                                        </div>-->
                            <!--                                    </ng-container>-->
                            <div class="py-0.5 px-3 rounded-full text-sm font-semibold text-blue-800 bg-blue-100 dark:text-blue-50 dark:bg-blue-500">
                                {{ units[lesson?.unit] }}
                            </div>

                            <ng-container *ngIf="user?.role === 'admin'">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon
                                            class="icon-size-5"
                                            [svgIcon]="'heroicons_solid:dots-vertical'"
                                    ></mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="edit(lesson)">
                                        <mat-icon
                                                class="icon-size-5"
                                                [svgIcon]="'heroicons_solid:pencil'"
                                        ></mat-icon>
                                        <span>Tahrirlash</span>
                                    </button>
                                    <button mat-menu-item (click)="deleteLesson(lesson?.id)">
                                        <mat-icon
                                                class="icon-size-4.5"
                                                [svgIcon]="'heroicons_solid:trash'"
                                        ></mat-icon>
                                        <span>O'chirish</span>
                                    </button>
                                </mat-menu>
                            </ng-container>

                        </div>
                        <!-- Course title & description -->
                        <div class="mt-4 text-lg font-medium">{{ lesson?.title}}</div>
                        <div class="mt-0.5 line-clamp-2 text-secondary">{{ lesson?.description}}</div>
                        <div class="w-12 h-1 my-6 border-t-2"></div>
                        <!-- Course time -->
                        <div class="flex items-center leading-5 text-md text-secondary">
                            <mat-icon
                                    class="icon-size-5 text-hint"
                                    [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                            <div class="ml-1.5">Dars davomiyligi: {{ lesson?.duration }}</div>
                        </div>
                        <div class="flex items-center mt-2 leading-5 text-md text-secondary">
                            <mat-icon class="icon-size-5 text-hint" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <div class="ml-1.5">Ko'rishlar soni: {{ lesson?.views || 0 }}</div>
                        </div>
                    </div>
                    <!-- Footer -->
                    <div class="flex flex-col w-full mt-auto">

                        <div class="px-6 py-4 text-right bg-gray-50 dark:bg-transparent">
                            <a mat-stroked-button (click)="incrementViewsCount(lesson?.id)">
                                        <span class="inline-flex items-center">
                                            <mat-icon
                                                    class="mr-2 icon-size-5"
                                                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                            Darsni ko'rish
                                        </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-auto flex-col items-center justify-center pt-10 bg-gray-100 dark:bg-transparent"
                 *ngIf="loaded && !lessons?.length">
                <mat-icon
                        class="icon-size-24"
                        [svgIcon]="'heroicons_outline:document-search'"
                ></mat-icon>
                <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">Darslar topilmadi (</div>
            </div>

        </div>

    </div>

</div>
