<div class="w-full max-w-3xl" *ngIf="user">
    <div class="flex items-start gap-3 lg:gap-5">
        <div class="relative flex items-center justify-center w-24 h-24 lg:w-32 lg:h-32 rounded-full overflow-hidden ring-4 ring-bg-card shrink-0 mb-5">
            <label class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10 opacity-0 hover:opacity-100 cursor-pointer" matRipple>
                <div>
                    <input
                            id="avatar-file-input"
                            class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                            type="file"
                            [multiple]="false"
                            [accept]="'image/jpeg, image/png, image/jpg'"
                            (change)="uploadAvatar(avatarFileInput.files)"
                            #avatarFileInput>
                    <mat-icon class="text-white" [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                </div>
            </label>
            <ng-container *ngIf="user?.avatar">
                <img
                        *ngIf="user?.avatar?.startsWith('avatars')"
                        class="object-cover w-full h-full"
                        [src]="environment?.host + user?.avatar">
                <img
                        *ngIf="user?.avatar?.startsWith('http')"
                        class="object-cover w-full h-full"
                        [src]="user?.avatar">
            </ng-container>
            <div
                    class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                    *ngIf="!user.avatar">
                {{ user.name.charAt(0) }}
            </div>
        </div>

        <div class="text-xl lg:text-3xl font-bold tracking-tight leading-none pt-3">
            {{ user?.name }}
        </div>
    </div>

    <div class="text-xl w-full">Shaxsiy ma'lumotlar</div>

    <form [formGroup]="accountForm">

        <div class="grid sm:grid-cols-4 gap-x-6 gap-y-2 w-full mt-4">
            <div class="sm:col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Ism</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:user'"
                            matPrefix></mat-icon>
                    <input
                            type="text"
                            [formControlName]="'name'"
                            matInput
                            (input)="onNameChange($event)"
                    >
                    <mat-error *ngIf="accountForm.get('name').hasError('required')">
                        Ismni kiritish majburiy
                    </mat-error>
                    <mat-error
                            *ngIf="!accountForm.get('name').hasError('required') && accountForm.get('name').hasError('minlength')">
                        Ism uzunligi eng kamida 3 ta bo'lishi kerak
                    </mat-error>
                    <mat-error
                            *ngIf="!accountForm.get('name').hasError('required') && accountForm.get('name').hasError('maxlength')">
                        Ism uzunligi 32 tadan ko'p bo'lmasligi kerak
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Telefon raqam</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:phone'"
                            matPrefix></mat-icon>
                    <input
                            type="text"
                            matInput
                            [formControlName]="'phone'"
                            [prefix]="'+998 '"
                            mask="00-000-00-00"
                    >
                    <mat-error *ngIf="accountForm.get('phone').hasError('required')">
                        Telefon raqamni kiritish majburiy
                    </mat-error>
                    <mat-error
                            *ngIf="!accountForm.get('phone').hasError('required') && accountForm.get('phone').hasError('mask')">
                        Telefon raqam formati noto'g'ri
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2" *ngIf="user?.email">
                <mat-form-field class="fuse-mat-no-subscript w-full"
                                matTooltip="Elektron pochtani o'zgartirib bo'lmaydi">
                    <mat-label>Elektron pochta</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:mail'"
                            matPrefix></mat-icon>
                    <input
                            readonly
                            type="email"
                            matInput
                            [formControlName]="'email'"
                    >
                </mat-form-field>
            </div>
        </div>

        <div class="flex items-center justify-end pt-6">
            <button
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="accountForm.disabled"
                    (click)="updateCredentials()"
            >
                <span *ngIf="!accountForm.disabled">
                        Ma'lumotlarni o'zgartirish
                    </span>
                <mat-progress-spinner
                        *ngIf="accountForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </form>

    <div class="mt-11 mb-10 border-t"></div>

    <form [formGroup]="changePasswordForm" *ngIf="user.password">
        <div class="w-full text-xl mb-4">Parolni o'zgartirish</div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-4">
            <div class="sm:col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Eski parol</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:lock-closed'"
                            matPrefix></mat-icon>
                    <input
                            type="password"
                            autocomplete="false"
                            matInput
                            #currentPasswordField
                            [formControlName]="'currentPassword'"
                    >
                    <button
                            mat-icon-button
                            type="button"
                            (click)="currentPasswordField.type === 'password' ? currentPasswordField.type = 'text' : currentPasswordField.type = 'password'"
                            matSuffix>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="currentPasswordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="currentPasswordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error *ngIf="changePasswordForm.get('currentPassword').hasError('required')">
                        Hozirgi parolni kiriting
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="w-full">
                    <mat-label>Yangi parol</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:lock-closed'"
                            matPrefix></mat-icon>
                    <input
                            type="password"
                            autocomplete="false"
                            matInput
                            #newPasswordField
                            [formControlName]="'newPassword'"
                    >
                    <button
                            mat-icon-button
                            type="button"
                            (click)="newPasswordField.type === 'password' ? newPasswordField.type = 'text' : newPasswordField.type = 'password'"
                            matSuffix>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="newPasswordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="newPasswordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>

                    <mat-error *ngIf="changePasswordForm.get('newPassword').hasError('required')">
                        Yangi parolni kiriting
                    </mat-error>

                    <mat-error
                            *ngIf="!changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').hasError('minlength')">
                        Parol uzunligi eng kamida 6 ta bo'lishi kerak
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="flex items-center justify-end pt-2">
            <button
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="changePasswordForm.disabled"
                    (click)="changePassword()"
            >
                <span *ngIf="changePasswordForm.enabled">
                        O'zgartirish
                    </span>
                <mat-progress-spinner
                        *ngIf="changePasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </form>

    <form [formGroup]="setPasswordForm" *ngIf="!user.password">
        <div class="w-full text-xl mb-4">Parol o'rnatish</div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-4">
            <div class="sm:col-span-4">
                <mat-form-field class="w-full">
                    <mat-label>Parol</mat-label>
                    <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:lock-closed'"
                            matPrefix></mat-icon>
                    <input
                            type="password"
                            autocomplete="false"
                            matInput
                            #newPasswordField
                            [formControlName]="'newPassword'"
                    >
                    <button
                            mat-icon-button
                            type="button"
                            (click)="newPasswordField.type === 'password' ? newPasswordField.type = 'text' : newPasswordField.type = 'password'"
                            matSuffix>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="newPasswordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                                class="icon-size-5"
                                *ngIf="newPasswordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>

                    <mat-error *ngIf="setPasswordForm.get('newPassword').hasError('required')">
                        Parolni kiriting
                    </mat-error>

                    <mat-error
                            *ngIf="!setPasswordForm.get('newPassword').hasError('required') && setPasswordForm.get('newPassword').hasError('minlength')">
                        Parol uzunligi eng kamida 6 ta bo'lishi kerak
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="flex items-center justify-end pt-2">
            <button
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="setPasswordForm.disabled"
                    (click)="setPassword()"
            >
                <span *ngIf="!setPasswordForm.disabled">
                        O'rnatish
                    </span>
                <mat-progress-spinner
                        *ngIf="setPasswordForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>
    </form>
</div>

<!--[hidden]="!user || !user.password"-->
