<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
            class="flex-auto h-full bg-card dark:bg-transparent"
    >
        <mat-drawer-content class="flex flex-col">
            <div class="flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Foydalanuvchilar</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            {{ count }} ta foydalanuvchi
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <div class="flex-auto">
                            <mat-form-field
                                    class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                                <mat-icon
                                        class="icon-size-5"
                                        matPrefix
                                        [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                        matInput
                                        [autocomplete]="'off'"
                                        [placeholder]="'Foydalanuvchilarni qidirish'"
                                        [(ngModel)]="search"
                                >
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Contacts list -->
                <div *ngIf="users.length">
                    <div class="z-20 flex items-center justify-between px-6 py-4 md:px-8 border-b" *ngFor="let user of users | search: search: 'name'">
                        <div class="flex">
                            <div class="flex flex-0 items-center justify-center w-10 h-10 rounded-full overflow-hidden">
                                <ng-container *ngIf="user?.avatar">
                                    <img
                                            class="object-cover w-full h-full"
                                            [src]="user.avatar?.startsWith('https') ? user?.avatar : environment.host + user.avatar"
                                            [alt]="user.name + ' avatar'"/>
                                </ng-container>
                                <ng-container *ngIf="!user?.avatar">
                                    <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                        {{ user.name.charAt(0) }}
                                    </div>
                                </ng-container>
                            </div>
                            <div class="min-w-0 ml-4">
                                <div class="font-medium leading-5 truncate">{{ user.name }} <span class="text-secondary">({{ user?.createdAt| date: 'dd.MM.yyyy hh:mm' }})</span></div>
                                <div class="leading-5 truncate text-secondary">{{ user?.email || user?.phone }}</div>
                            </div>
                        </div>

                        <div class="flex gap-2" *ngIf="user?.role !== 'admin'">
                            <button mat-icon-button color="accent" *ngIf="user?.payments?.length" (click)="openScreenshot(user?.payments[0]?.paymentScreenshot)">
                                <mat-icon *ngIf="user?.payments[0].seenTime" [svgIcon]="'heroicons_solid:document'"></mat-icon>
                                <mat-icon *ngIf="!user?.payments[0].seenTime" [svgIcon]="'heroicons_outline:document'"></mat-icon>
                            </button>
                            <button mat-icon-button color="primary" (click)="changeRole(user?.id)">
                                <mat-icon *ngIf="user?.role === 'user'" [svgIcon]="'heroicons_outline:star'"></mat-icon>
                                <mat-icon class="icon-size-7" *ngIf="user?.role === 'premium-user'" [svgIcon]="'heroicons_solid:star'"></mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteUser(user?.id)">
                                <mat-icon [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
